.switch {
  display: flex;
  position: relative;
  margin: 0 0 0 700px;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 50px;
  height: 30px;
  appearance: none;
  cursor: pointer;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: transform 0.3s ease;
}

.switch__box:checked + .switch__slider {
  transform: translateX(20px);
}

.switch__temp-F {
  position: absolute;
  top: -9px;
  right: 6px;
  color: black;
}

.switch__temp-C {
  position: absolute;
  top: -9px;
  left: 8px;
  color: black;
}

.switch__active {
  color: black;
  font-weight: bold;
}
