.modal_questions {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.modal__content_delete {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 28px 28px 28px;
  box-sizing: border-box;
  max-width: 670px;
  height: 280px;
  border-radius: 20px;
}

.modal__delete__header {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 30px;
  margin-left: 30px;
  padding: 0px;
}

.modal__question_warning {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 80px;
}

.modal__question_confirm {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: #fff;
  color: rgba(255, 77, 0, 1);
  margin-top: 20px;
  margin-bottom: 24px;
}

.modal__question_cancel {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: #fff;
  margin-bottom: 60px;
}

.modal__delete-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
