.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.cards__text {
  margin-top: 40px;
  margin-bottom: 34px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}

.footer {
  margin-top: auto;
  padding-top: 150px;
}
