.modal__footer {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  margin-left: 4px;

  margin-top: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0 20px 4px;
}

.modal__image {
  width: 100%;
  max-width: 498px;
  height: 498px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.modal__delete {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 77, 0, 1);
  border: none;
  background: none;
  cursor: pointer;
  grid-column: 2/3;
  grid-row: 1;
  align-self: center;
  justify-self: end;
  margin: 0;
  padding: 0;
  margin-right: 32px;
}

.modal__no-permission {
  padding: 0;
  margin-top: 0;
}
